sphinx
sphinx_intl
sphinx_rtd_theme
recommonmark
sphinxcontrib-applehelp     
sphinxcontrib-devhelp         
sphinxcontrib-htmlhelp        
sphinxcontrib-jquery         
sphinxcontrib-jsmath         
sphinxcontrib-qthelp         
sphinxcontrib-serializinghtml 
